.rectangle li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    padding: 0em 0em 1.5em 1em;
    height: 1.6em;
    border-radius: 4px;
    left: 30%;
    width: 30%;
}
.rectangle {
    list-style-type:none;
    padding: 0;	
	width: 100%;
	vertical-align: top;
    border-right: 30px solid #fff;
  }
p {
    display: inline-block;
}
.delete_button {
    display:inline-block;
    color:white;;
    border-radius: .25em;
    font-size: 16px;
    height: 1.6em;
    transition:ease-in-out .2s;
    border-style: none;
    background-color: rgb(185, 30, 30);
}
.delete_button {
    margin-top: 1em;
    position: absolute;
    left: 105%;
}